[submodule "Newtonsoft.Json"]
	path = Newtonsoft.Json
	url = https://github.com/JamesNK/Newtonsoft.Json.git
[submodule "HtmlAgilityPack"]
	path = HtmlAgilityPack
	url = https://github.com/hazzik/HtmlAgilityPack.git
